{% extends "network/layout.html" %}

{% block body %}
    <div class="container">
        <div id="main" >
            <div class="row">
                <div id="new_post" class="w-75 mx-auto">                
                    <form action="{% url 'post' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="newpost" id="new_post_title"><b>New post</b></label>
                            {% if message %}
                                <p class="mb-0">{{ message }}</p>
                            {% endif %}
                            <textarea class="form-control mb-2" name="newpost" id="newpost" aria-describedby="newPost" placeholder="Type your post here"></textarea>
                            <button type="submit" class="css-button-rounded--sky float-right">Post!</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div id="posts" class="w-75 mx-auto" >
                    <p id="editResponse" style="display: none;"></p>
                    {% if posts %}
                    {% for post in posts %}
                    <div id ="ind_post" class="border rounded mt-2">
                        <a href="{% url 'profile' post.creator %}" style="text-decoration:none"><b>{{ post.creator | capfirst}}</b></a>
                        <div id="post_content_{{post.id}}"><p>{{ post.content }}</p></div>
                        <small class="text-muted">{{ post.created_on }}</small>
                        <div id="likes" class="row no-gutters" >
                            {% if post.likes.first.user.all.count %}
                            <p class="mr-1">{{ post.likes.first.user.all.count}}</p>
                            {% else %}
                            <p class="mr-1">0</p>
                            {% endif %}
                            {% if request.user in post.likes.first.user.all %} 
                            <svg class="likes like_true" aria-label="likeIcon" color="#8e8e8e" id="{{post.id}}" fill="#8e8e8e" height="24" role="img" viewBox="0 0 24 24" width="16">
                                <path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 
                                3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 
                                0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 
                                0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998
                                44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z">        
                                </path>
                            </svg>
                            {% else %}
                            <svg class="likes like_false" aria-label="likeIcon" color="#8e8e8e" id="{{post.id}}" fill="#8e8e8e" height="24" role="img" viewBox="0 0 24 24" width="16">
                                <path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 
                                3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 
                                0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 
                                0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998
                                44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z">        
                                </path>
                            </svg>
                            {% endif %}
                            {% if request.user == post.creator %}
                            <a class="edit ml-2" href="#" name="edit{{post.id}}" id="{{post.id}}">Edit</a>
                            {% endif %}

                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>         
            </div>
            <div class="row mt-3 justify-content-center">
                <nav aria-label="Posts navigation">
                    <ul class="pagination">
                      {% if prev %}
                      <li class="page-item"><a class="page-link" href="{% url 'index' prev %}">Previous</a></li>
                      {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">Previous</a></li>
                      {% endif %}
                      {% for i in pages %}
                      <li class="page-item"><a class="page-link" href="{% url 'index' i %}">{{i}}</a></li>
                      {% endfor %}
                      {% if next %}
                      <li class="page-item"><a class="page-link" href="{% url 'index' next %}">Next</a></li>
                      {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true" >Next</a></li>
                      {% endif %}
                    </ul>
                  </nav>
            </div>

        </div>
    </div>
{% endblock %}